---
import Layout from "../layouts/BlogPost.astro";
import '../styles/global.css' // TODO 删除这句，套用了layout的样式没有必要再用全局
const identity = {
  nickName: "vcc",
  job: "frontend developer",
};
const skills = [
  "html",
  "css",
  "javascript",
  "Astro",
  "typescript",
  "vue",
  "miniprogram",
];
const primaryColor = 'lightPink'
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <style define:vars={{primaryColor}}>
    .skill {
      color: var(--primaryColor);
    }
  </style>
  <p>
    There is nothing to say about me but only one thing that i'd like to tell
    you.
  </p>
  <p>I am learning astro now</p>
  <p>And here is my introduce about me</p>
  <ul>
    <li>NickName: {identity.nickName}</li>
    <li>Job: {identity.job}</li>
  </ul>
  <p>Skills:</p>
  <ul>
    {
      skills.map((skill) => {
        return <li class="skill">{skill}</li>;
      })
    }
  </ul>
</Layout>
