---
import Layout from "../layouts/BlogPost.astro";
const identity = {
  nickName: "vcc",
  job: "frontend developer",
};
const skills = [
  "html",
  "css",
  "javascript",
  "Astro",
  "typescript",
  "vue",
  "miniprogram",
];
const yearCount = new Date('2023')
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    there is nothing to say about me but only one thing that i'd like to tell
    you.
  </p>
  <p>i am learning astro now</p>
  <p>and here is my introduce about me</p>
  <ul>
    <li>NickName: {identity.nickName}</li>
    <li>Job: {identity.job}</li>
  </ul>
  <p>Skills:</p>
  <ul>
    {skills.map(skill=>{
      return <li>{skill}</li>
    })}
  </ul>
</Layout>
